@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('Assets/Fonts/Montserrat-Regular.eot'); 
    src: local('Montserrat'), local('Montserrat'),
         url('Assets/Fonts/Montserrat-Regular.otf') format('embedded-opentype'), 
         url('Assets/Fonts/Montserrat-Regular.woff') format('woff'), 
         url('Assets/Fonts/Montserrat-Regular.ttf') format('truetype'), 
         url('Assets/Fonts/Montserrat-Regular.svg') format('svg'); 
  }
.wrapper{
    padding:0;
}
.topBar{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    border-bottom:1px solid #ccc;
}
.topBar p{
    color:#777777;
    font-size: 14px;
    margin-bottom:10px;
}
.topBar p span{
    color:#1385a7;
    font-size:14px;
    font-weight:bold;
  }
.topBar .menuitems{

}
.topBar .menuitems ul, .mainHeader .menuitems ul{
    padding-left:0;
    margin-bottom: 0;
}
.topBar .menuitems.rightmenu ul{
    float:right;
}
.topBar .wishlist{
    text-transform: uppercase;
    color:#777777;
    font-size:14px;
}
.topBar .login span, .topBar .wishlist span, .topBar .myprofile span{
    margin-right:5px;
}
.topBar .login strong, .topBar .myprofile strong{
    text-transform: uppercase;
    font-size:12px;
    color:#777777;
}
.topBAr .myprofile{}
.topBar .menuitems ul li, .mainHeader .menuitems ul li{
    list-style: none;
    float:left;
    margin-right:15px;
    font-size:14px;
    color:#858585;
}
.topBar .wishlist, .topBar .myprofile{
    padding-left:0;
    padding-right:5px;
}

.topBar .wishlist span.favorites{
    background-color: #1385a7;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    margin-right: 0;
    margin-left: 5px;
    text-align: center;
    border-radius: 50%;
}
.cart-icon-header a{
    position:relative;
}
.cart-icon-header a strong{
    position:absolute;
    background-color:#1385a7;
    color:#fff;
    border-radius:50px;
    font-size:9px;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    left:15px;
    top:-10px;
}
.cart-icon-header a span{
    font-size:25px;
    color:#000;
    line-height:55px;
    margin-right:10px;
}
.mainHeader{
    padding: 10px 15px;
}
.mainHeader .menuitems ul li{
    color:#5b5c5d;
    font-size:14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 50px;
    margin-right: 25px;
}
/* Slider */
.feature-products{
    
}
.slider-area .row, .feature-products .row{
    padding-left:15px;
    padding-right:15px;
}
.slider-area .slick-slider button{
    background-color: rgba(255,255,255,0.7);
    width: 50px;
    z-index: 1;
    height: 50px;
}
.feature-products .slick-slider button{
    border:1px solid #eeeeee;
    background-color:#fff;
    z-index: 1;
    width:40px;
    height:40px;
    top:30%;
}
.feature-products .slick-slider button:before{
    color:#cccccc;

}
.feature-products .slick-slider button.slick-prev{
    left:-20px;
}
.feature-products .slick-slider button.slick-next{
    right:-20px;
}
.slider-area .slick-slider img{
    width:100%;
}
.feature-products .slick-slider img{
    height:250px;
}
.feature-products h3{
    color:#3f3f3f;
    font-size:20px;
    text-transform: uppercase;
    margin-bottom:20px;
    margin-top:30px;
    position: relative;
}
.feature-products h3:before{
    position: absolute;
    bottom:-10px;
    content:'';
    background:#00a99d;
    width:100px;
    height:2px;
    left:0;

}
.slider-area .slick-slider button:hover{
    background-color:#1385a7;
}
.slider-area .slick-slider button.slick-prev{
    left:0
}
.slider-area .slick-slider button.slick-next{
    right:0;
}
.slider-area .slick-slider button:before{
    color:#fff;
}
.single-slider-product{
    position:relative;
    border:1px solid #eeeeee;
}
.single-slider-product img{
    position:relative; 
    width:100%; 
    height:auto;
}
.single-slider-product .leftIcons{
    position: absolute;
    left:-10px;
    top:20px;
}
.single-slider-product .leftIcons span{
    padding:5px 10px;
    font-weight:bold;
    font-size:12px;
    display: block;
    background:#1385a7;
    color:#fff;
    margin-bottom:10px;
    text-transform: uppercase;
}
.single-slider-product .leftIcons span.Salebg{
    background: #e84545;
}
.single-slider-product .RightIcons{
    position: absolute;
    right:10px;
    top:10px;
}
.single-slider-product .RightIcons span{
    display: block;
    color:#bcbcbc;
    margin-bottom:10px;
    font-size:20px;
}
.feature-products .slick-slide{
    margin-right:15px;
    margin-left:15px;
    
}
.single-slider-product-detail{
    margin-top:15px;
}
.single-slider-product-detail .leftDetails{
    width:70%;
    float:left;
}
.single-slider-product-detail .leftDetails h3{
margin-top:0;
font-size:14px;
color:#333333;
line-height:18px;
text-transform: capitalize;
margin-bottom:10px;
}
.single-slider-product-detail .leftDetails h3:before{
    display:none;
}
.single-slider-product-detail .leftDetails button{
    width: auto;
    height: auto;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: #1385a7;
    box-shadow: 0 0 0 0;
    border: 1px solid #1385a7;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.single-slider-product-detail .rightDetails{
    width:30%;
    float:left;
}
.single-slider-product-detail .rightDetails span{
    display: block;
    color:#777777;
    font-size:14px;
    text-decoration: line-through;
    text-align:right;
}
.single-slider-product-detail .rightDetails strong{
    display: block;
    font-size:14px;
    font-weight:bold;
    color:#333333;
    text-align:right;
}
.single-slider-product-detail .rightDetails a{
    display: block;
    font-size:13px;
    color:#333333;
    text-decoration: underline;
    text-align:right;
    margin-top:10px;
}
.feature-products .slick-slider .slick-list{
    /* height:350px; */
}
.feature-products .slick-slider .slick-list .slick-track{
    display:flex;
    margin-bottom:60px;
}
.feature-products .slick-slider .slick-list .slick-track .slick-slide{
    display: flex;
    height: auto;
    align-items: center; 
    justify-content: center; 
}

/* Breadcrumb Area */
.breadcrumb-area .row{
    background: url(../src/Assets/Img/breadcrumb-bg.png);
    margin-left:15px;
    margin-right:15px;
    min-height:300px;
    background-size: cover;
    background-position: 100%;
    position: relative;
}
.breadcrumb-area .breadcrumb-section{
    position: relative;
    bottom:20px;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
}
.breadcrumb-area .breadcrumb-section h3{
    font-size:50px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight:bold;
    margin-bottom:0;
}
.content-area{
    padding-top:60px;
    background-color:#f6f6f6;
    padding-bottom:60px;
}
.content-area > .row{
    margin-right:0;
    margin-left:0;
}
.content-area.checkout-page{
    background:#fff;
}
.breadcrumb-area .breadcrumb-section ul{
    padding-left:0;
    
}
.breadcrumb-area .breadcrumb-section ul li{
    list-style:none;
    float:left;
    margin-right:25px;
    position: relative;
}
.breadcrumb-area .breadcrumb-section ul li:first-child:before{
    position: absolute;
    content:'\f105';
    font-family:fontawesome;
    right:-15px;
    top:0;
    color:#fff;
}
.breadcrumb-area .breadcrumb-section ul li a{
    color:#fff;
    font-size:16px;
    text-transform: uppercase;
    font-weight:bold;
}

/*Categories Section */
.categories-area{
    background:#efefef;
    padding:30px;
}
.categories-header h3{
    color:#3f3f3f;
    text-transform:uppercase;
    font-weight:300;
    font-size:24px;
    margin-bottom:10px;
}
.product-list{
    margin-bottom:30px;
}
.product-list .col-lg-6{
    margin-bottom:20px;
}
.single-product{
    padding:15px;
}
.single-product .card-img{
    max-height:130px;
    height:130px;
}
.single-product .card-body{
    padding:0;
}
.single-product .card-body .card-title{
    color:#111111;
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px;
}
.single-product .card-body .card-title span{
    color:#888888;
    font-weight:normal;
}
.single-product .card-body .card-text{
    color:#666666;
    font-size:15px;
    line-height:24px;
    margin-bottom:25px;
}
.single-product .card-body button{
    background:#e7e7e7;
    border:1px solid #e7e7e7;
    border-radius:6px;
    padding:5px 25px;
    font-weight:500;
    text-transform: uppercase;
    color:#676767;
}
.single-filter{
    background-color:#fff;
    padding:15px 15px 0 15px;
    margin-bottom:30px;
}
.single-filter h3{
    color:#0e4056;
    font-size:15px;
    font-weight:500;
    text-transform: uppercase;
    border-bottom:1px solid #eee;
    padding-bottom: 10px;
    margin-bottom:0;
}
.single-filter ul{
    padding-left:0;
}
.single-filter >ul > li{
    border-bottom:1px solid #eee;
    padding-top:10px;
    padding-bottom:10px;
}
.single-filter >ul > li > a{
    font-weight:500;
}
.single-filter ul li{
    list-style:none;
    padding-left:20px;
    position:relative;
    
}
.single-filter ul li:before{
    position: absolute;
    content:'\f105';
    font-family:fontawesome;
    left:0px;
}
.single-filter ul li a{
    color:#333333;
    font-size:14px;
}
.single-filter ul li a span{
    color:#999999;
    float:right;
}
.single-filter ul li ul li a{
    line-height:30px;
}



.categories-footer{
    margin-top:30px;
}
.categories-footer button{
    background-color:transparent;
    border: 1px solid transparent;
    font-size:24px;
    text-transform: uppercase;
    color:#3f3f3f;
    font-weight:500;
}
.categories-footer button:hover{
    background-color:transparent;
    border: 1px solid transparent;
    color:#3f3f3f;
}
.download-app{
    margin-top:60px;
    margin-bottom:120px;
}
.download-app .download-app-img img{
    position: absolute;
    margin-top:-60px;
}
.download-app > .row{
    background: url(../src/Assets/Img/download-app-banner.png);
    margin-left: 15px;
    margin-right: 15px;
    min-height:350px;
    background-size: cover;
    background-position: 100%;
}
.download-app-text{
    padding-top:60px;
    padding-bottom:30px;
    padding-right:0;
}
.download-app-text h3{
    color:#ffffff;
    font-size:28px;
    text-transform: uppercase;
    font-weight: 300;
    position:relative;
    margin-bottom:20px;
}
.download-app-text h3::after{
    position: absolute;
    bottom:-10px;
    content:'';
    background:#00a99d;
    width:100px;
    height:2px;
    left:0;
}
.download-app-text h3 strong{
    font-weight:700;
}
.download-app-text p{
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.download-app-text img{
    margin-right:15px;
}
.form-area{
    background-color: #ffffff;
    padding:50px 30px;

    float:left;
    width:100%;
}
.form-area h2{
    font-size:24px;
    color:#000000;
    font-weight:500;
}
.form-area h3{
    font-size:13px;
    color:#7d7d7d;
    font-weight:400;
    margin-bottom:20px;
}
.form-area form{}
.form-area form .form-group{
    width:100%;
    float:left;
}
.form-area form .form-group.half{
    width:45%;
    margin-right:5%;
}
.form-area form input{
    background-color:#f1f1f1;
    border:1px solid #d7d7d7;
    border-radius:4px;
    width:100%;
    padding-left:20px;
    line-height: 55px;
}
.form-area form input::placeholder{
    color:#b1b1b1;
    font-size:14px;
}
.form-area form label{
    float:left;
    color:#7d7d7d;
    font-size:12px;
}
.form-area form label input[type="checkbox"]{
    width:auto;
    margin-right:5px;
}
.form-area form .form-group label +  a{
    float:right;
    font-size:13px;
    font-weight:500;
    color:#66603c;
}
.form-area form .form-group input[type="submit"]{
    background-color:#1385a7;
    border:1px solid #1385a7;
    border-radius:6px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    font-size:14px;
    width:auto;
    line-height:45px;
    padding:0px 25px;
}

.form-area form .or-login-with p{
    color:#a1a1a1;
    font-size:14px;
    font-weight:400;
}
.form-area form .or-login-with p a{
    display: inline;
    margin-left:20px;
}
.form-area form .or-login-with p a span{
    font-size:20px;
    color:#959595;
}
.form-area form .or-login-with p a span:hover{
    color:#1385a7;
}

.cart-section table{
    border:1px solid #ccc;
}
.cart-section table thead tr th{
    background:#f8f8f8;
    border:0 none;
    color:#262626;
    font-size:14px;
    font-weight:bold;
}
.cart-section table tbody tr td{
    background:#fff;
    border-top:0 none;
    vertical-align: middle;
    border-bottom:1px solid #ccc;
    font-size:14px;
    color:#707070;
}
.cart-section table tbody tr td button{
    border:0 none;
    background-color:#1385a7;
    color:#fff;
}
.cart-section table tbody tr td > span{
    padding-right:5px;
    padding-left:5px;
    border:1px solid #ccc;
}
.cart-section table tbody tr td button span{
    color:#fff;
    font-size:13px;
}
.cart-section table tbody tr td strong{
    color:#262626;
    font-size:14px;
}
.cart-section table tbody tr td span{
    color:#c25d5d;
}

.cart-section table tbody tr td img{
    border:1px solid #eee;
    padding:10px;
}
.cart-section table tfoot{
    background:#1385a7;
}
.cart-section table tfoot tr td strong{
    color:#fff;
}
.cart-page > .row{
    background: #efefef;
    margin-left: 15px;
    margin-right: 15px;
    padding-top:30px;
    padding-bottom:60px;
}
.cart-section div.table-responsive + .row{
    margin-top:40px;
}
.cart-section .voucher{}
.cart-section .voucher h2{
    color:#262626;
    font-size:20px;
    font-weight:300;
}
.cart-section .voucher input[type="text"]{
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    display: block;
    min-width:300px;
    min-height:40px;
    margin-bottom:20px;
    padding-left:20px;
}
.cart-section .voucher input[type="text"]::placeholder{
    font-size:13px;
    color:#b2b2b2;
}
.cart-section .voucher input[type="submit"]{
    background-color:#262626;
    color:#fff;
    font-size:13px;
    text-transform:uppercase;
    border:0 none;
    padding:5px 25px;
}
.cart-section > h3{
    font-size:20px;
    color:#262626;
}
.cart-section .subtotal div{
    background:#fff;
    padding:30px;
}
.cart-section .subtotal div h4{
    font-size:13px;
    color:#262626;
    font-weight:500;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}
.cart-section .subtotal div h4.blue{
    color:#1385a7;
    border-bottom:0 none;
    text-transform: uppercase;
    margin-bottom:40px;
}
.cart-section .subtotal div h4.blue span{
    color:#1385a7;
}
.cart-section .subtotal div h4 span{
    color:#707070;
    float:right;
}
.cart-section .subtotal div input[type="submit"]{
    background-color:#1385a7;
    color:#fff;
    text-align: center;
    border:0 none;
    width:100%;
    height:40px;
    text-transform: uppercase;
}
.flashmessage{
    font-size:20px;
    color:#1385a7;
}
.content-area.checkout-page .grey-bg{
    background-color:#f1f1f1;
}
.content-area.checkout-page .grey-bg .checkout-head{

}
.content-area.checkout-page .grey-bg h3{
    font-size:12px;
    color:#262626;
    text-transform: uppercase;
    line-height:40px;
    margin-bottom:0;
    font-weight:500;
}
.content-area.checkout-page .checkout-section .shipping{
    padding-left:0;
    padding-right:0;
    border-right:1px solid #ccc;
}
.content-area.checkout-page .checkout-section .shipping form{
    
    float:left;
    width:100%;
    padding-right:70px;
}
.content-area.checkout-page .checkout-section .shipping .light-grey-bg{
background-color:#f8f8f8;
margin-top:30px;
margin-left:0;
margin-right:70px;
margin-bottom:30px;
}
.content-area.checkout-page .checkout-section .shipping .light-grey-bg > .col-lg-12 > .row{
   border-bottom:1px solid #ccc;
   margin-left:0;
   margin-right:0;
}
.content-area.checkout-page .checkout-section .shipping .light-grey-bg > .col-lg-12 > .row h6{
    margin-bottom:0;
    font-size:13px;
    color:#b2b2b2;
    font-weight:500;
    line-height:26px;
}
.content-area.checkout-page .checkout-section .shipping .light-grey-bg > .col-lg-12 > .row strong{
    font-size:13px;
    color:#000000;
    font-weight:500;
    line-height:26px;
}
.content-area.checkout-page .checkout-section .shipping form .half{
    width:48%;
    float:left;
    margin-bottom:20px;
    margin-right:4%;
}
.content-area.checkout-page .checkout-section .shipping form .half a{
    border:1px solid #1385a7;
    color:#1385a7;
    text-transform: uppercase;
    text-align:center;
    width:100%;
    height:45px;
    float: left;
    line-height:45px;
    font-size:15px;
    font-weight:500;
}
.content-area.checkout-page .checkout-section .shipping form input[type="submit"]{
    background-color:#1385a7;
    color:#fff;
    text-transform: uppercase;
    text-align:center;
    width:100%;
    height:45px;
    float: left;
    line-height:45px;
    font-size:15px;
    font-weight:500;
}
.content-area.checkout-page .checkout-section .shipping form input, 
.content-area.checkout-page .checkout-section .shipping form select{
    width:100%;
    float:left;
    height:35px;
    padding-left:15px;
    border:1px solid #e0e0e0;
}
.content-area.checkout-page .checkout-section .shipping form input::placeholder,
.content-area.checkout-page .checkout-section .shipping form select{
    font-size:13px;
    color:#b2b2b2;
    font-weight:500;
}
.content-area.checkout-page .checkout-section .shipping form .half:nth-child(even){
    margin-right:0;
}
.content-area.checkout-page .checkout-section .shipping form .full{
    width:100%;
    float:left;
}
.content-area.checkout-page .checkout-section .shipping form input[type="checkbox"]{
    width:auto;
    height: 24px;
    margin-right:5px;
}
.content-area.checkout-page .checkout-section .cart-items{
    padding-left:0;
    padding-right:0px;
}
.content-area.checkout-page .checkout-section .cart-items .carts{
padding-left:70px;
    padding-top:30px;
}
.content-area.checkout-page .checkout-section .cart-items .row{
    margin-bottom:30px;
}
.content-area.checkout-page .checkout-section .cart-items img{
    border:1px solid #eee;
    padding:10px;
}
.content-area.checkout-page .checkout-section .cart-items h3{
    font-size:14px;
    color:#5c5c5c;
    font-weight:500;
    margin-bottom:0;
}
.content-area.checkout-page .checkout-section .cart-items p{}
.content-area.checkout-page .checkout-section .cart-items p strong{
    font-size:14px;
    color:#5c5c5c;
    font-weight:500;
    margin-right:20px;
}
.content-area.checkout-page .checkout-section .cart-items p span{
    font-size:14px;
    color:#999999;
    font-weight:500;
}
.content-area.checkout-page .checkout-section .cart-items .cart-total{}
.content-area.checkout-page .checkout-section .cart-items .cart-total h2{
    width:100%;
    float:left;
    margin-top:20px;
}
.content-area.checkout-page .checkout-section .cart-items .cart-total h2 strong{
    font-size:18px;
    color:#262626;
    font-weight:bold;
    float:left;
}
.content-area.checkout-page .checkout-section .cart-items .cart-total h2 span{
    color:#1385a7;
    font-size:18px;
    font-weight:bold;
    float:right;
}
.content-area.checkout-page .checkout-section .cart-items .cart-total h6{
    width:100%;
    float:left;
}
.content-area.checkout-page .checkout-section .cart-items .cart-total h6:first-child{
    border-top:1px solid #ccc;
    padding-top:20px;
}
.content-area.checkout-page .checkout-section .cart-items .cart-total h6 strong{
    font-size:14px;
    color:#262626;
    font-weight:bold;
    float:left;
}

.content-area.checkout-page .checkout-section .cart-items .cart-total h6 span{
    color:#b2b2b2;
    font-size:14px;
    font-weight:bold;
    float:right;
}
.content-area.checkout-page .checkout-section ul.cart-tabs-head{
    padding-left:0;
    
}
.content-area.checkout-page .checkout-section ul.cart-tabs-head li{
    width:48%;
    margin-right:4%;
    border:0 none;
    border-bottom:2px solid #e6e6e6;
    padding-left:0;
    padding-right:0;
    color:#e6e6e6;
    font-size:13px;
    font-weight:bold;
    text-transform: uppercase;
}
.content-area.checkout-page .checkout-section ul.cart-tabs-head li.react-tabs__tab--selected{
    color:#707070;
    border-bottom:2px solid #707070;
   
}
.content-area.checkout-page .checkout-section ul.cart-tabs-head li.react-tabs__tab--selected span{
    color:#6bc86e;
}
.content-area.checkout-page .checkout-section ul.cart-tabs-head li span{
    font-size:25px;
    margin-top:-3px;
    vertical-align:middle;
    margin-right:7px;
    color:#e6e6e6;
}
.content-area.checkout-page .checkout-section ul.cart-tabs-head li:last-child{
    margin-right:0;
}

.content-area.cart-page{
    background:#fff;
}
.product-tabs{
    margin-top:60px;
    margin-bottom:30px;
    background:#fff;
    padding:40px 60px;
}
.product-tabs .product-tabs-head{
    padding-left:0;
}
.product-tabs .product-tabs-head li{
    font-size:17px;
    color:#777777;
    font-weight:500;
    padding:6px 0;
    padding-right:15px;
    margin-right:15px;
}
.product-tabs .product-tabs-head li.react-tabs__tab--selected{
    border:0 none;
    border-radius:0;
    border-bottom:2px solid #b6d9e4;
}
.description-tab{}
.description-tab p{
    font-size:15px;
    color:#777777;
    font-weight:300;
    line-height:25px;
}
.related  .related-head{
    background:#ffffff;
    border-bottom:2px solid #dedede;
    margin-bottom:15px;
}
.related .related-head h2{
    font-size:16px;
    color:#3f3f3f;
    font-weight:500;
    text-transform:uppercase;
    margin-bottom:0;
    line-height:40px;
    border-bottom:2px solid #a5a5a5;
    float:left;
    
}


/* Footer Area */
.footer-area .widget-area{
    background:#f0f6f6;
    padding-top:60px;
    padding-bottom:30px;
    box-shadow:1px 1px 10px 1px #e5e5e5;
}
.footer-area .widget-area .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.footer-area .widget-area .footer-logo img{
    margin-bottom:20px;
}
.footer-area .widget-area .footer-logo ul{
    padding-left:0;
    display: inline-block;
    margin-bottom:0;
}
.footer-area .widget-area .footer-logo ul li{
    float:left;
    margin-right:29px;
}
.footer-area .widget-area .footer-logo ul li:first-child{
    list-style:none;
}
.footer-area .widget-area .footer-logo ul li:last-child{
    margin-right:0;
}
.footer-area .widget-area .footer-logo ul li a{
    font-size:12px;
    color:#333333;
}
.footer-area .widget-area .quickmenu{}
.footer-area .widget-area .quickmenu h3{
    font-weight:bold;
    font-size:14px;
    color:#455a5f;
    padding-left:40px;
    text-transform: uppercase;
}
.footer-area .widget-area .quickmenu ul{
    margin-bottom:0;
}
.footer-area .widget-area .quickmenu.half ul{
    width:50%;
    float:left;
    padding-left:0;
}
.footer-area .widget-area .quickmenu.half h3, .footer-area .widget-area .quickmenu.social h3{
    padding-left:0;
}
.footer-area .widget-area .quickmenu.social a{
    margin-right:15px;
    color:#aaaaaa;
    font-size:20px;
}
.footer-area .widget-area .quickmenu.social a:hover{
    color:#1f8bab;
}
.footer-area .widget-area .quickmenu ul li{
    list-style:none;
}
.footer-area .widget-area .quickmenu ul li a{
    font-size:13px;
    color:#455a5f;
    font-weight:300;
    line-height:24px;
}
.footer-area .widget-area .footer-app{

}
.footer-area .widget-area .footer-app h3,
.footer-area .widget-area .quickmenu.social h3{
    margin-bottom:20px;
}
.footer-area .widget-area .footer-app img{
    display: block;
    margin-bottom:10px;
}

.footer-area .widget-area .quickmenu.social p{
    font-size:16px;
    color:#455a5f;
    font-weight:300;
    line-height:21px;
}
.copyright-area{
    padding:15px 0;
}
.copyright-area p{
    font-size:13px;
    color:#455a5f;
}